<style>
  .First-component {
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
</style>

<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Task-6</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/form">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Test</a>
      </li>


    </ul>

  </div>
</nav>



<div class="First-component">
  <label>Entry Form from Root Component</label>


</div>

<router-outlet>

</router-outlet>